<html>
<head>
	<title>求职意向</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/apply.css')}}">
</head>
<body>
	<div class="title"><span>求职意向</span></div> 
	<div class="tt">
		<a href="{{url_for('index')}}"  style="color:#FFF;"><button class="btn btn-primary" >首页</button></a>
	</div>
	<div class="content">
		<div class="pass">
			<div class="pass_title"><span>过去:</span></div>
			<div class="pass_content">
				<p>在一家医疗器械公司工作了一年半，主要职责是调试设备，包括软硬件的调试以及出差装设备。</p>
			</div>
			<div class="pass_title"><span>现在：</span></div>
			<div class="pass_content">
				<p>离职后开始学习python，因为大学时学习的是应用电子技术专业，有学习c和c++课程，所以上手会比较快，现在希望可以找一份和python相关的工作，我也知道作为一个python自学者，我的工作经验比不上别人，我也愿意从实习生学起，我会加倍努力。希望您可以给我这个机会，日后会努力得到您的认可。在自我评价里面有说到我自学这段时间以来做的一些小项目，希望您可以去看一下。</p>
			</div>
		</div>
		
	</div>
</body>
</html>