<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
	{% block head %}{% endblock %}
</head>

<body>
<div class="nav">
	<div class="tq">
		<p class="cityname">{{r['weatherinfo']['cityname']}}</p>
		<p class="weather">{{r['weatherinfo']['weather']}}</p>
		<p class="temp">{{r['weatherinfo']['tempn']}}~{{r['weatherinfo']['temp']}}</p>
	</div>
	<div class="time">
		<p>{{now}}</p>
		<p>{{day}}</p>
	</div>
</div>
<div class="main">
  {% block main %}{% endblock %}
</div>
</body>
</html>