<html>
<head>
	<title>自我评价</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/evaluation.css')}}">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="title"><span>自我评价</span></div> 
	<div class="tt">
		<a href="{{url_for('index')}}"  style="color:#FFF;"><button class="btn btn-primary" >首页</button></a>
	</div>
	<div class="content">
		<div class="text">
			<p >这段时间来主要学习了Flask框架，linux系统，了解Mysql、HTML、CSS、API,根据网上的一些教程和自己的思路做了一些小项目。例如现在你所看到的这个网页的简历，主程序主要是用了路由和url的页面跳转功能以及爬取的实时天气预报，在页面显示方面主要用了html和铺陈了一些css效果。算是比较基本的一个项目，另外我还做过一些问答平台,能实现基本的注册、登录、注销、评论、访问数据库、html继承和渲染等功能，还有包车订票的项目。虽然这些都不是什么高大上的作品，但都是我自学的成果，让您见笑了。近段时间也有在学习JS、API和Nginx服务器部署方面的知识。</p>
		</div>
		
	</div>
</body>
</html>