<html>
<head>
	<title>爱好特长</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/hoppy.css')}}">
</head>
<body>
	<div class="title"><span>爱好特长</span></div>
	<div class="tt">
		<a href="{{url_for('index')}}"  style="color:#FFF;"><button class="btn btn-primary" >首页</button></a>
	</div>
	<div class="content">
		<span>本人兴趣比较广泛，球类的运动基本都会一点，平时主要是跟朋友出去打篮球。有假期也会跟朋友出去旅游一下，同时担当拍照小能手，还有听音乐我只用网易云。</span>
	</div>
</body>
</html>