{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
<div class="body">
	<div class="show">
		<div class="top">
			<div class="container container1" >
				<div class="wrapper">
					<div class="cont">
						<div class="inner1">
							<span>还没想好</span>						
						</div>
					</div>
				</div>
			</div>
			<div class="container container2" >
				<div class="wrapper">
					<div class="cont">
						<div class="inner2">
							<span>敬请期待</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mid">
			<div class="container container3">
				<div class="wrapper">
					<div class="cont">
						<div class="inner3">
							<a href="{{url_for('hoppy')}}"><span>爱好特长</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="container container4">
				<div class="wrapper">
					<div class="cont">
						<div class="inner4"  >
							<a href="{{url_for('my_msg')}}"><span>我的信息</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot">
			<div class="container container5" >
				<div class="wrapper">
					<div class="cont">
						<div class="inner5">
							<a href="{{url_for('evaluation')}}"><span>自我评价</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="container container6" >
				<div class="wrapper">
					<div class="cont">
						<div class="inner6">
							<a href="{{url_for('apply')}}"><span>求职意向</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}