<html>
<head>
	<title>个人信息</title>
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/my_msg.css')}}">
</head>
<body>
<div class="my_msg">
	<div class="title">个人信息</div>
	<div class="tt">
		<a href="{{url_for('index')}}" style="color:#FFF;"><button class="btn btn-primary"  type="button">首页</button></a>	
	</div>
	<div class="my_photo">
		<div class="container container1" >
				<div class="wrapper1">
					<div class="cont1">
						<div class="inner1">
						</div>
					</div>
				</div>
		</div>
	</div>		
	<div class="name_birth">
			<div class="container container2" >
				<div class="wrapper2">
					<div class="cont2">
						<div class="inner2">
							<span class="tow">姓名：黄建武</br>出生：1992.11.18</span>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="body">
		<div class="container container3" >
				<div class="wrapper3">
					<div class="cont3">
						<div class="inner3">
						
							<span class="three">身高：165cm</br>体重：52kg</span>
						
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="address">
		<div class="container container4" >
				<div class="wrapper4">
					<div class="cont4">
						<div class="inner4">
							<span class="four">地址:广东茂名</br>现居:广州</span>						
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="connaction">
		<div class="container container5" >
				<div class="wrapper5">
					<div class="cont5">
						<div class="inner5">						
							<span  class="five">手机：</br>15013344011</br>微信：</br>w184097</span>
							<img src="../static/images/weixin.jpg" />
						</div>

					</div>
				</div>
		</div>
	</div>
	<div class="shcool">
		<div class="container container6" >
				<div class="wrapper6">
					<div class="cont6">
						<div class="inner6">
						
							<span  class="six">毕业：</br>广东轻工职业技术学院</span>
						
						</div>
					</div>
				</div>
		</div>
	</div>		
	
</div>
</body>
</html>
	

