body{
	background: url(../images/10.jpg)no-repeat center center fixed;
	background-size: 100% ;
	
}	
.title{
	line-height: 50px;
	width: 100%;
	height:50px;
	text-align: center;
	background: #000; 
	color: #FFF;
	font-size: 25px;
}
.tt{
	margin-top: 20px;
	margin-left: 120px;
}
.btn{
	padding:5px;	
}
a{
	font-size: 18px;
	text-decoration:none;
}
.content{
	width: 300px;
	height: 300px;
	margin-left: 480px;
	margin-top: 50px;
}
.pass_title{
	
}
.pass_content{
	font-weight:bold;
	padding-left: 40px;
	text-indent: 25px;
}
.content span{
	letter-spacing: 10px;
	font-weight: 900;
	font-size: 22px;
	color: #000;
}
.content p{
	color:#000;
	letter-spacing: 5px;
}