.nav{
	width: 100%;
	height: 80px;
	background: #eee;
	opacity: 0.5;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	
	
}
.tq{
	display:inline-block;
	width: 120px;
	margin-left: 25px;
}
.time{
	float: right;
	display:inline-block;
	width: 150px;
	margin-top: 15px;
	text-align: right;
	margin-right: 25px;
	
}
p{
	margin:5px;
	font-size: 15px;
}
body{
	background: url(../images/bg6.jpg)no-repeat center center fixed;
	background-size: 100% ;
	
}
