body{
	background:url(../images/9.jpg)no-repeat center center fixed;
	background-size: 100% ;
}
.title{
	line-height: 30px;
	width: 100%;
	height:50px;
	text-align: center;
	background: #000; 
	color: #FFF;
	line-height: 50px;
	font-size: 25px;
}
.tt{
	margin-top: 20px;
	margin-left: 120px;
}

a{	
	font-size: 18px;
	text-decoration:none;
}
.text{
	width: 400px;
	height: 300px;
	margin-left: 444px;
	margin-top: 50px;
	text-indent: 25px;
	letter-spacing: 5px;
	font-size: 16px;
}
.text p{
	color: #FFF;
	text-shadow:5px 1px 6px #795e42;
}
.begin{
	margin-top: 25px;
	height: 20px;
	margin-left: 444px;
}
.begin p{	
	color: #FFF;	
}
