body{
	background: url(../images/640.jpg)no-repeat center center fixed;
	background-size: 100%;
}
.title{
	line-height:50px;
	width: 100%;
	height:50px;
	text-align: center;
	background: #000; 
	color: #FFF;
	font-size:25px;
}
.tt{
	margin-top: 20px;
	margin-left: 120px;
}

a{
	font-size: 18px;
	text-decoration:none;
}
.content{
	width: 200px;
	height: 300px;
	margin-left:200px;
	margin-top: 80px;
	text-indent:25px;
	line-height: 30px;
	font-size: 16px;
}
	
