
.container div {
  width: 100px;
  height: 120px;
  overflow: hidden;
  transform: rotateZ(120deg);

}
span{
	float:left;
	padding-top: 25px;
	transform: rotateZ(-90deg);
  color: #000;
  font-weight: 900;


}
.cont {
  transform: rotateZ(60deg);
}

.container:hover {
  transform: scale(1.1);

}
.container1{
	margin:0px 130px; 
}
.container2{
	margin:0px 130px; 
}
.container4{
	margin-top: 120px;
}


.inner1 {  
  	transform: rotateZ(-120deg);
  	background:url(../images/1.jpg);
  	background-size: 100%;
  	opacity:0.5;
  	cursor: pointer;
  	text-align: center;
  	line-height: 100px;
}
.inner2{
	transform: rotateZ(-120deg);
  	background:url(../images/sea.jpg);
  	background-size: 100% 100%;
  	opacity:0.5;
  	cursor: pointer;
  	text-align: center;
  	line-height: 100px;
}
.inner3{
	transform: rotateZ(-120deg);
 	 background:url(../images/2.jpg);
  	background-size: 100% 100%;
  	opacity:0.5;
  	cursor: pointer;
  	text-align: center;
  	line-height: 100px;
}
.inner4{
	transform: rotateZ(-120deg);
  	background:url(../images/3.jpg);
  	background-size: 100% 100%;
  	opacity:0.5;
  	cursor: pointer;
  	text-align: center;
  	line-height: 100px;
}
.inner5{
	transform: rotateZ(-120deg);
  	background:url(../images/4.jpg);
  	background-size: 100% 100%;
  	opacity:0.5;
  	cursor: pointer;
  	text-align: center;
  	line-height: 100px;
}
.inner6{
	transform: rotateZ(-120deg);
  	background:url(../images/5.jpg);
  	background-size: 100% 100%;
  	opacity:0.5;
  	cursor: pointer;
 	text-align: center;
  	line-height: 100px;
}
.show{
	width: 500px;
	height: 500px;
	margin-left: 600px;
	margin-top: 0px;
}
.top{
	transform: rotateZ(90deg);
	height: 240px;
	width: 100px;
	margin-top:-120px;
}
.mid{
	height: 360px;
	margin-top: -65px;
	transform: rotateZ(90deg);
	width: 100px;	 
}
.bot{
	transform: rotateZ(90deg);
	height: 240px;
	margin-top: -195px;
	width: 100px;
}
