body{
	background: url(../images/6.jpg)no-repeat center center fixed;
	background-size: 100% ;
}

.title{
	width: 100%;
	height: 50px;
	text-align: center;
	font-weight: 900;
	background: #000;
	color: #FFF;
	line-height: 50px;	
	font-size: 25px;
}
.tt{
	margin-left: 120px;
	margin-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a{	font-size: 18px;
	text-decoration:none;

}
.container div{
 	overflow: hidden;	
}
.wrapper1{
	width: 340px;
	height: 400px;
	transform: rotateZ(120deg);
}
.cont1{
	width: 340px;
	height:400px;
  	transform: rotateZ(60deg);
}
.container:hover {
	 

}
.container1{
	display: inline-block;
	float: left;
	margin-top:50px;
	margin-left: 150px;
	transform: rotateZ(-60deg);
}
.inner1 {  
  	width: 340px;
	height:400px;
  	transform: rotateZ(-120deg);
  	background:url(../images/33.jpg);
  	background-size: 100% 100%;
  	opacity:0.6;
  	text-align: center;
  	line-height: 100px;
}

.wrapper2{
	width: 120px;
	height:150px;
	transform: rotateZ(120deg);
}
.cont2{
	width: 120px;
	height:150px;
  	transform: rotateZ(60deg);
}
.container2{
	margin-top: 150px;
	margin-left: 50px;
	display: inline-block;
	float: left;
}
.inner2{
	margin-left: 0px;
	width: 120px;
	height:150px;
  	transform: rotateZ(-120deg);
  	background-color:#d09999;
  	background-size: 100% 100%;
  	opacity:0.6;
  	text-align: left;  	
}
.container3{
	margin-left:-250px;
	margin-top: 370px; 
	transform: rotateZ(90deg);	
}
.inner3{	
  	background-color: #59805c;
}
.container4{
	margin-left:-80px;
	margin-top: 320px; 
	transform: rotateZ(90deg);	
}
.inner4{	
  	background-color: #bec545;  	
}
.container5{
	margin-left:80px;
	margin-top: 400px; 
	transform: rotateZ(90deg);	
}
.inner5{	
  	background-color: #f1aa52;
  }
.container6{
	margin-left:-180px;
	margin-top: 250px; 		
}
.inner6{	
  	background-color: #7f5cad;	
}
.container3 , .container4 , .container5 , .container6{
	display: inline-block;
	float: left;
}
.wrapper3 , .wrapper4 , .wrapper5 , .wrapper6{
	width: 100px;
	height:120px;
	transform: rotateZ(120deg);
}
.cont3 , .cont4 , .cont5 , .cont6{
	width: 100px;
	height:120px;
  	transform: rotateZ(60deg);
}
.inner3 , .inner4 , .inner5 , .inner6{
	width: 100px;
	height:120px;
  	background-size: 100% 100%;
  	opacity:0.6;
  	text-align: center;
  	line-height: 100px;
  	transform: rotateZ(-120deg);
}
.tow{
	float: left;
	transform: rotateZ(-60deg);
	line-height:22px;
	margin-top: 50px;
	font-size: 14px; 	
}
.three{
	line-height:25px;
	margin-top: 38px;
	font-size: 15px; 	
}
.four{
	line-height:25px;
	margin-top: 38px;
	font-size: 13px; 	
}
.five{
	line-height:20px;
	margin-top: 25px;
	font-size: 15px; 
}
.six{
	float: left;
	transform: rotateZ(-60deg);
	line-height:22px;
	margin-top: 28px;
	margin-left:10px;
	font-size: 15px; 
	text-align: left;
}
.three , .four{
	float: left;
	transform: rotateZ(-150deg);
	padding-right: 5px;
}
.five{
	float: left;
	font-size: 12px;
	transform: rotateZ(-150deg);
	text-align: center;
	padding-right: 15px;
	margin-top:15px;
}
.inner5{ position:relative;}
.inner5 img{ display:none;width: 120%;}
.inner5:hover img{ position:absolute; display:block;width:120%;margin-left:-10px;margin-top:0px;transform: rotateZ(-150deg);}